.card {
  display: flex;
  gap: 24px;
  border: 1px solid #dadde1;
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
}

.photo {
  border-radius: 10px;
  max-width: 292px;
  height: 320px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.description {
  max-width: 525px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-spacing: -1px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
